*{
    padding: 10px;
    margin-left: 60px;
    margin-top: 60px;
    background-color: orange;
    position: relative;
    
}




 /* .data{
    position: relative;
    left: 10px;
    color: white;
} */

/*
.out{
    position: relative;
    left: 78px;
    bottom: 50px;
} */


